
<!-- in the template  in setting we have to declare templates(folder)  -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Analysed</title>
	<style type="text/css">
		h1 {
    			font-family: cursive;
    			font-weight: 900;
    			color: blueviolet;
            }
        body {
    		    background-color: antiquewhite;
              }
        p {
    			font-size: xxx-large;
    			color: crimson;
    			font-family: sans-serif;
    			padding: 28px;
    			margin: auto;
          }


	</style>
</head>
<body>
<h1>Your Analysed test --{{ purpose }}--</h1>
<p>
	<pre>{{analyse_text}}</pre> <!--  For each and every line  -->
</p>

</body>
</html>